.color-blue { color: rgb(0, 0, 255); }
.size-xl { font-size: 320px; }
.mb-10 { margin-bottom: 10px; }
.color-purple { color: purple; }
.size-lg { font-size: 160px; }
.bg-red { background-color: rgb(255, 0, 0); }
.bg-blue { background-color: rgb(0, 0, 255); }
.bg-green { background-color: rgb(0, 255, 0); }
.bg-orange { background-color: rgb(255, 127, 0); }
.bg-purple { background-color: purple; }
.bg-teal { background-color: teal; }
.color-teal { color: teal; }
.bg-cyan { background-color: rgb(0, 255, 255); }
.bg-amber { background-color: amber; }
.bg-pink { background-color: pink; }
.bg-indigo { background-color: rgb(75, 0, 130); }
.bg-brown { background-color: brown; }
.bg-lime { background-color: rgb(127, 255, 0); }
.color-orange { color: rgb(255, 127, 0); }
.bg-deepPurple { background-color: deepPurple; }
.bg-deepOrange { background-color: deepOrange; }
.bg-blueGrey { background-color: blueGrey; }
.color-pink { color: pink; }
.color-indigo { color: rgb(75, 0, 130); }
.bg-yellow { background-color: rgb(255, 255, 0); }
.color-white { color: white; }
.color-brown { color: brown; }
.color-deepPurple { color: deepPurple; }